# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
josefo/.vs/josefo/v16/Browse.VC.db-shm
josefo/.vs/josefo/v16/Browse.VC.db-wal
josefo/josefo.vcxproj.user
josefo/josefo.vcxproj
josefo/josefo.vcxproj.filters
josefo/.vs/josefo/v16/Browse.VC.opendb
